@import "../core/variables";

.search-container {
  padding-top: 2rem;
  height: 100%;
  .search-bar {
    display: flex;
    align-items: center;
    .bar {
      width: 100%;
    }
    .btn {
      border: 1px solid;
      border-color: $secondary-color;
      color: $secondary-color;
      &:hover {
        background-color: $secondary-color;
        color: $alt-color;
      }
    }
  }
}

.pagination {
  border-color: $secondary-color;
  color: $secondary-color;
}

.table-responsive {
  .t-head {
    width: 4rem;
    max-width: 8rem;
  }
}
.title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.live-search-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

  .item {
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid lighten($color: $secondary-color, $amount: 40);
    border-radius: 5px;
    margin-top: 0.5rem;
    &:hover {
      border: none;
      background-color: $secondary-color;
      color: $alt-color;
    }
    .avatar {
      max-width: 28px;
    }
  }
}

.sort-icon {
  cursor: pointer;
}

.btn-addon {
  span {
    color: $primary-color;
  }
}

.user-card-container {
  display: flex;
  border: 1px solid lighten($color: grey, $amount: 30);

  margin-bottom: 1rem;
  .user-pic {
    max-width: 150px;
  }
  .description {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 1rem;
    .name {
      font-weight: bold;
    }
    p {
      margin-bottom: 0;
    }
  }
}
